@font-face {
  font-family: "Computer Concrete";
  src: url(../assets/cmunorm.ttf);
}

@font-face {
  font-family: "Computer Concrete";
  src: url(../assets/cmunobx.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "Computer Concrete";
  src: url(../assets/cmunoti.ttf);
  font-style: italic;
}

@font-face {
  font-family: "Computer Concrete";
  src: url(../assets/cmunobi.ttf);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Libertinus Sans Bold";
  src: url(../assets/LibertinusSans-Bold.woff2);
  font-weight: bold;
}

@font-face {
  font-family: 'Iosevka';
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url(../assets/iosevka-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Iosevka';
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  src: url(../assets/iosevka-bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Iosevka';
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: italic;
  src: url(../assets/iosevka-italic.woff2) format('woff2');
}

@font-face {
  font-family: 'Iosevka';
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: italic;
  src: url(../assets/iosevka-bolditalic.woff2) format('woff2');
}

